.icon{
    margin-right:20px;
}

.icon:hover{
    color: gray;
}


.todo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    border: 1px solid black;
    border-radius: 15px;
    gap: 2 rem;
}

